.edit-profile-page {
  max-width: 600px; /* Максимальная ширина страницы */
  margin: 0 auto; /* Центрирование */
  padding: 20px;
  color: #A53D3F;
  font-family: Arial, sans-serif;
}


h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
  color: #A53D3F;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: normal;
}

input {
  width: 100%; /* Все поля ввода занимают 100% ширины контейнера */
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
  outline: none;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.save-button {
  margin: 0 auto;  /* Расположение кнопки по центру */
  display: block;
  width: 60%; /* Ширина, которую занимает кнопка */
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #A53D3F;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
}

.save-button:hover {
  background-color: #fa1d19;
}
